<!DOCTYPE html>
<html>
  <head>
    <title>Picture sharing</title>
    {% load staticfiles %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->
  </head>
  <body>
    <!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    <div class="container"><header style="text-align: center">
        <h1>Welcome to my picture sharing app</h1>
    </header></div>
        <h3>{{ page_title }}</h3>
    </header></div>-->
    <div class="container">
    <div align=right>
      {{ user }}
      {% if user.is_anonymous %}
      <a href="/login/">login</a>
      {% else %}
      <a href="/logout/">logout</a>
      {% endif %}
    </div>
    </div>
    <div class="container">
        <ul class="nav nav-tabs">
            <li role="presentation" class="{% if active_tab == 'main' %}active{% endif %}"><a href="/">Main</a></li>
            <li role="presentation" class="{% if active_tab == 'popular' %}active{% endif %}"><a href="/popular/">Popular</a></li>
            <li role="presentation" class="{% if active_tab == 'add' %}active{% endif %}"><a href="/add/">Add image</a></li>
            {% if not user.is_anonymous %}
                <li role="presentation" class="{% if active_tab == 'private' %}active{% endif %}"><a href="/private">Private</a></li>
            {% endif %}
            {% if image_info %}
                <li role="presentation" class="active"><a href="/{{ image_info }}/">{{ image_info }}</a></li>
            {% endif %}
        </ul>
    </div>